### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Ignore all .idea folder
.idea/
# Except specific files
!.idea/codeStyles/
!.idea/modules.xml
!.idea/vcs.xml
!.idea/libraries/
# Ignore workspace settings, as they are user-specific
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/assetWizardSettings.xml
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/misc.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store